<h2>Eventos</h2>
<hr>
<div action="" class="form-inline">
    <div class="input-group mb-3">
        <!-- Exemplo de Two way Data binding NgModel--> 
        <label class="mr-2">Filtro:</label>
        <input type="text" class="form-control" placeholder="Buscar"[(ngModel)]="filtroLista">        
               
    </div>  
</div>
<!--<h3>Filtro: {{filtroLista}}</h3>-->
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th><button type="button" class="btn btn-outline-light btn-sm"
                (click)="alterarImg()">{{!exibirImg ? 'Exibir' : 'Ocultar'}}</button></th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Capacidade</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td> 
                <!-- Exemplo de binding--> 
                <img [collapse]="!exibirImg"
                     [isAnimated]="true"
                 src="/assets/{{evento.imagemUrl}}" alt="{{evento.imagemUrl}}"
                    [style.width.px]="widthImg"
                    [style.margin.px]="marginImg"
                >               
            </td>
            <td>{{evento.eventoId}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm btn-td">Editar</button>
                <button type="button" class="btn btn-danger btn-sm btn-td">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8">
                <h4 class="text-center">Nenhum evento encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>